body{
	margin: 0;
	font-family: 'Helvetica', 'Arial',sans-serif;
	line-height: 30px;
}
header{
	background-color: red;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}
h1, h2{
	font-family: 'Bangers', cursive;
}
header h1{
	color: white;
	font-size: 50px;
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid mediumblue;
}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
	margin-bottom: 0px
}
h2{
	font-size: 35px;
	color: blue;
	margin: 70px 0 10px;
}
main p{
	font-family: 'Righteous', cursive;
	font-size: 20px;
}
ul, ol{
	font-family: 'Righteous', cursive;
	font-size: 20px;
}
.Center{
	text-align: center;
	color: #999999;
	font-style: italic;
	margin-top: 0px;
}
a{
	color: black;
}
a:hover{
	color: mediumblue;
}
footer{
	background-color: red;
	text-align: center;
	color: mediumblue;
	padding: 15px;
}
footer a{
	color: mediumblue;

}
footer a:hover{
	opacity: 0.5;
	background-color: transparent;
}
footer p{
	margin: 0;
}
.h2-1{
	margin-top: 0
}

































